<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDA School system- Lists</title>
</head>
<body>
<h3>TODO list:</h3>
<ul>
    <li>Brush teeth</li>
    <li>Make breakfast</li>
    <li>Make or take lunch to work</li>
    <li>Go to work</li>
    <li>Go to gym</li>
    <li>Attend to SDA course</li>
    <li>Make dinner and lunch for next day</li>
    <li>Rest</li>
    <li>Go to sleep</li>
</ul>
<br/><br/>
<h3>The House that Jack Built</h3>
<ol>
    <li>This is the house that Jack built.</li>
    <li>This is the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the cow with the crumpled horn,<br/>
        That tossed the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the maiden all forlorn,<br/>
        That milked the cow with the crumpled horn,<br/>
        That tossed the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the man all tattered and torn,<br/>
        That kissed the maiden all forlorn,<br/>
        That milked the cow with the crumpled horn,<br/>
        That tossed the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the priest all shaven and shorn,<br/>
        That married the man all tattered and torn,<br/>
        That kissed the maiden all forlorn,<br/>
        That milked the cow with the crumpled horn,<br/>
        That tossed the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the cock that crowed in the morn,<br/>
        That waked the priest all shaven and shorn,<br/>
        That married the man all tattered and torn,<br/>
        That kissed the maiden all forlorn,<br/>
        That milked the cow with the crumpled horn,<br/>
        That tossed the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>
    <li>This is the farmer sowing the corn,<br/>
        That kept the cock that crowed in the morn.<br/>
        That waked the priest all shaven and shorn,<br/>
        That married the man all tattered and torn,<br/>
        That kissed the maiden all forlorn,<br/>
        That milked the cow with the crumpled horn,<br/>
        That tossed the dog,<br/>
        That worried the cat,<br/>
        That killed the rat,<br/>
        That ate the malt<br/>
        That lay in the house that Jack built.
    </li>

</ol>


</body>
</html>