<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription form</title>
</head>
<body>
 <h1>Subscription Form</h1>
 <p>I would like to subscribe to</p>
 <table border cellpadding="6">
   <thead>
   <tr bgcolor="black">
     <th style="color: white" width="70">Publication</th>
     <th style="color: white" width="70">Term</th>
     <th style="color: white" width="70">Price</th>
     <th style="color: white" width="70">Start Date</th>
     <th style="color: white" width="70">Remark</th>
   </tr>
   </thead>
   <tbody>
   <tr>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
   </tr>
   <tr>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
   </tr>
   <tr>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
     <td contenteditable="true"></td>
   </tr>
   </tbody>

 </table>
 <br/>
<form>
  <input type="radio" id="mr" name="gender" /> Mr.
  <input type="radio" id="mrs" name="gender" /> Mrs.
  <input type="radio" id="miss" name="gender" /> Miss
  <br/><br/><br/>
  <label for="first-name">Name:</label>
  <input name="first-name" id="first-name" />
  <label for="last-name">Last name:</label>
  <input name="last-name" id="last-name" type="text" />
  <br/><br/>
  <label for="home">Deliver address:</label>
  <input type="radio" id="home" name="home"> Home
  <input type="radio" id="office" name="home"> Office
  <br/><br/>
  <label for="company-name">Company name:</label>
  <input name="company-name" id="company-name" />
  <br/><br/>
  <label for="house-no">House No:</label>
  <input name="house-no" id="house-no" />
  <label for="building">Building:</label>
  <input name="building" id="building" />
  <label for="floor">Floor:</label>
  <input name="floor" id="floor" />
  <br/><br/>
  <label for="room">Room:</label>
  <input name="room" id="room" />
  <label for="village">Village:</label>
  <input name="village" id="village" />
  <label for="soi">Soi:</label>
  <input name="soi" id="soi" />
  <br/><br/>
  <label for="street">Street:</label>
  <input name="street" id="street" />
  <label for="sub-district">Sub-district:</label>
  <input name="sub-district" id="sub-district" />
  <br/><br/>
  <label for="district">District:</label>
  <input name="district" id="district" />
  <label for="city">City:</label>
  <input name="city" id="city" />
  <br/><br/>
  <label for="zip-code">Zip code:</label>
  <input name="zip-code" id="zip-code" />
  <label for="tel">Tel:</label>
  <input name="tel" id="tel" />
  <label for="mobile-phone">Mobile phone:</label>
  <input name="mobile-phone" id="mobile-phone" />
  <br/><br/>
  <label for="fax">Fax:</label>
  <input name="fax" id="fax" />
  <label for="email">Email:</label>
  <input name="email" id="email" />
  <br/><br/>
  <h4>Billing address: (if different from above)</h4>
  <label for="company name">Company name:</label>
  <input name="company name" id="company name" />
  <br/><br/>
  <label for="address">Address:</label>
  <input name="address" id="address" />
  <br/><br/>
  <label for="tel">Tel:</label>
  <input name="tel" id="telo" />
  <label for="fax">Fax:</label>
  <input name="fax" id="fax2" />
  <br/><br/>
  <label for="contact-person">Contact person:</label>
  <input name="contact-person" id="contact-person" />
  <br/><br/>
  <h4>I would like to pay by:</h4>
  <input type="checkbox" id="bank-transfer" name="bank-transfer" /> Bank transfer direct to "Bangkok Post Public Co., Ltd."
  <br/><br/>
  <label for="bank-transfer">Bangkok Bank / Sunthorn Kosa branch A/C 218-3-00884-2 Date:</label>
  <input name="date" id="date">
  <br/><br/>
  <label for="bank-transfer">Kasikorn Bank / North Sunthorn Kosa branch A/C 312-3-07758-1 Date:</label>
  <input name="date" id="date1">
  <br/><br/>
  <label for="bank-transfer">Siam Commercial Bank / Wireless Road A/C 049-3-10116-6 Date:</label>
  <input name="date" id="date3">
  <br/><br/>
  <input type="checkbox" id="credit-card" name="credit-card" /> Credit card
  <input type="radio" id="master-card" name="gender" /> Master card
  <input type="radio" id="visa" name="gender" /> Visa
  <input type="radio" id="american-express" name="gender" /> American Express
  <br/><br/>
  <label for="card-no">Card number:</label>
  <input name="card-no" id="card-no" />
  <br/><br/>
  <label for="authorized-signature">Authorized signature:</label>
  <input name="authorized-signature" id="authorized-signature" />
  <label for="ex-date">Expire date:</label>
  <input name="ex-date" id="ex-date" />
</form>

</body>
</html>