<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDA School System- Tables</title>
</head>
<body>
<h3>Einstein's Puzzle</h3>
<table border cellpadding="6">
  <thead>
  <tr>
    <th>Nationality</th>
    <th>House color</th>
    <th>Beverage</th>
    <th>Cigar brand</th>
    <th>Pet</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Englishman</td>
    <td>Red</td>
    <td>Milk</td>
    <td>Pall Mall</td>
    <td>Birds</td>
  </tr>
  <tr>
    <td>German</td>
    <td>Green</td>
    <td>Coffee</td>
    <td>Prince</td>
    <td>Fish</td>
  </tr>
  <tr>
    <td>Swede</td>
    <td>White</td>
    <td>Bier</td>
    <td>Blue Master</td>
    <td>Dogs</td>
  </tr>
  <tr>
    <td>Dane</td>
    <td>Blue</td>
    <td>Tea</td>
    <td>Blend</td>
    <td>Horses</td>
  </tr>
  <tr>
    <td>Norwegian</td>
    <td>Yellow</td>
    <td>Water</td>
    <td>Dunhill</td>
    <td>Cats</td>
  </tr>
  </tbody>
</table>

</body>
</html>