<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>17-year-old becomes youngest person to complete solo round-the-world flight | The Independent</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/stylefortask.css">
</head>
<body>
 <p>CONTACT US</p>
<a href="Contact.html">Contact us</a>
 <h1>British teenager becomes youngest person to complete solo round-the-world flight<br/></h1>
 <p id="p1"><h3><mark>The teenager travelled through 52 countries over five continents</mark></h3><p>
 <small>A teenage pilot is set to become the youngest person to fly around the world solo in a small aircraft,
     after landing in Bulgaria, where his journey began five months ago.
     Mack Rutherford, a Belgian-British dual national aged 17, touched down at an airstrip west of Bulgaria’s capital,
     Sofia, to complete his trip and to claim two Guinness World Records. Once his achievement is certified,
     he will become the youngest person to fly around the world by himself,
     as well as the youngest person to circumnavigate the globe in a microlight plane. </small>
 <br/>
 <div>
 <p><h3><mark>Mr Rutherford’s</mark></h3></p>
 <p id="p2"><em>Mr Rutherford’s plane is a Shark, one of the fastest ultralight aircraft in the world,
     with a cruising speed reaching 300kph. Usually a two-seater,
     his plane has an extra fuel tank installed next to the pilot.
     Speaking to the AP news agency,
     Mr Rutherford said he hoped his accomplishment would inspire young people to pursue their dreams.</em></p>
 <p><h3>Guinness World Records</h3></p>
 <p id="p3"><sup>To meet Guinness World Records requirements, he chose a route that crossed the equator twice.
     The journey was meant to take up to three months, but ended up taking five due to obstacles along his way,
     including monsoon rains, sandstorms and extreme heat.
     Other delays were caused by waits to receive permits, visas and other documents required for further flight. </sup></p>
 </div>
 <img src="../assets/images/java-code.jpg" alt="Java Code Picture" height="450" width="800"/>
<br/>
 <a href="https://www.twitter.com" target="_blank">Twitter</a>
<br/>

 <a href="http://www.subaru.com" target="_blank">
   <img src="../assets/images/Subaru-WRX-STI-Type-R-14a-1024x555.jpg" alt="Subaru STI picture" height="450" width="800" />
 </a>


     <h3>Courses:</h3>
<ul>
    <li>Java</li>
    <li>Python</li>
    <li>HTML</li>
</ul>

<h3>Languages:</h3>
<ol>
    <li>Java
    <ul>
        <li>suva</li>
        <li>savi</li>
    </ul>
    </li>
    <li>C++</li>
    <li>Ruby</li>
</ol>


</body>
</html>